@charset "utf-8";
/* CSS Document */
body {
   font-family: 'Roboto', sans-serif;
	
}
.sidenav {
  height: 80%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
display: inline-block;
  background-color: #2B1A1E;
  overflow-x: hidden;
  transition: 0.7s;
  padding-top: 10%	;
	
}

.sidenav a {

  padding: 20px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  text-align: center ;
  color: #070405;
  display: block;
  font-style: italic;
  
  transition: 0.7s;
}

.image {
	background-image: url("../footage/viki.png");
	height: 80%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #2B1A1E;
  transition: 0.7s;
	background-size: cover;

}
}
.sidenav a:hover {	
  color: #635257;
	}

.sidenav .closebtn {
  position: fixed;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
	display: inline-block;
  transition: margin-left 0.7s;
  padding: 20px 20px  20px 20px;
  color: #2B1A1E;

	
}


